:root {
  --bg: rgb(224, 224, 224);
  --bar: rgb(0, 255, 0);
  --color-primary: #c2773e;
  --color-primary-dark: #886f2c;
  --color-primary-light: #6d5016;
  --color-grey-1: #102a42;
  --color-grey-5: #617d98;
  --color-grey-10: #f1f5f8;
  --color-white: #fff;
  --color-red-dark: hsl(360, 67%, 44%);
  --color-red-light: hsl(360, 71%, 66%);
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.25rem;
  --large-screen-width: 1170px;
  --small-screen-width: 90vw;
  --fixed-width: 50rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  list-style: none;
}
img{
  max-width: 100%;
}

a{
  text-decoration: none;
  color: #333;
}
a:hover{
  opacity: .8;
}

h1,h2,h3,ul,li{
  padding: 0;
  margin: 0;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}


.container{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}


.item_text_wrap{
  padding: 5%;
}
