
.remove-btn {
  color: var(--color-primary);
  letter-spacing: var(--spacing);
  cursor: pointer;
  font-size: 0.85rem;
  background: transparent;
  border: none;
  margin-top: 0.375rem;
  transition: var(--transition);
}
/* 
  Navbar
  */
.loading {
  text-align: center;
  margin-top: 5rem;
}
nav {
  background: var(--color-primary);
  padding: 1.25rem 2rem;
}
.nav-center {
  max-width: var(--fixed-width);
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h3 {
  margin-bottom: 0;
  letter-spacing: 1px;
  color: var(--color-white);
}
.nav-container {
  display: block;
  position: relative;
}
nav svg {
  width: 40px;
  color: var(--color-white);
}
.amount-container {
  position: absolute;
  top: -0.6rem;
  right: -0.6rem;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background: var(--color-primary-light);
  display: flex;
  align-items: center;
  justify-content: center;
}
.total-amount {
  color: var(--color-white);
  margin-bottom: 0;
  font-size: 1.25rem;
}

/*
  Cart
  */
.cart {
  min-height: calc(100vh - 120px);
  width: 90vw;
  margin: 0 auto;
  margin-top: 40px;
  padding: 1.5rem 0;
  max-width: var(--fixed-width);

  &__empty{
    &__text{
      text-transform: lowercase;
      color: var(--color-grey-5);
      margin-top: 1rem;
      text-align: center;
    }
  }

  &__title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;
  }
  &__total {
    margin-top: 4rem;
    text-align: center;
    &__price {
      &__text {
        text-transform: capitalize;
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
      }
    }

    &__clear {
      display: flex;
      justify-content: center;
      gap: 10px;
    }
  }
}


.cart-logo {
  position: relative;
  &__amount {
    position: absolute;
    right: -16px;
    bottom: -6px;
    background-color: red;
    color: white;
    line-height: 140%;
    // padding: 12%;
    text-align: center;
    vertical-align: middle;

    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    font-size: 14px;
  }
}

/*
  Cart Item
  */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr 1fr;
  grid-column-gap: 16px;
  margin: 15px 0;
  &__image {
    width: 180px;
    min-height: 240px;
    object-fit: cover;
  }
  &__title {
    margin-bottom: 5px;
    font-weight: 500;
  }
  &__price {
    margin-bottom: 5px;
    font-weight: 500;
    color: var(--color-grey-5);
  }
  &__remove {
    color: var(--color-primary);
    letter-spacing: var(--spacing);
    cursor: pointer;
    font-size: 0.85rem;
    background: transparent;
    border: none;
    margin-top: 0.375rem;
    transition: var(--transition);
  }
}

.amount-btn:hover svg {
  color: var(--color-grey-5);
}
.amount {
  text-align: center;
  margin-bottom: 0;
  line-height: 1;
  margin-bottom: 6px;
}
hr {
  background: var(--color-primary);
  border-color: transparent;
  border-width: 0.25px;
}
