

.detail{
  &.flex{
    justify-content: space-between;
  }
  &__image{
    width: 35%;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    padding: 15px;
  }
  &__title{
    width: 50%;
    &__text{
      margin-bottom: 20px;
    }
  }
  &__btn{
    cursor: pointer;
  }
}


